<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myvirtualcardwallet"
    android:screenOrientation="portrait"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.CAMERA" android:required="false" />
	
    <permission
        android:name="com.example.myvirtualcardwallet.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.myvirtualcardwallet.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false"
        android:name="android.hardware.camera" />
    

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kaddressbook"
        android:label="Virtual Card Wallet"
        android:logo="@drawable/kaddressbook"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDrOvqwvxVuihwSIW_6j9parbHw_gTvRk8" />

        <activity
            android:name="com.example.myvirtualcardwallet.DetailView"
            android:label="@string/title_activity_detail_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.LocateActivity"
            android:label="@string/title_activity_locate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.MakeCard"
            android:label="@string/title_activity_make_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.Options"
            android:label="@string/title_activity_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.Edit_card"
            android:label="@string/title_activity_edit_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.AddCard"
            android:label="@string/title_activity_add_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.ListCardsActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_list_cards"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.myvirtualcardwallet.ShowImage"
            android:label="@string/title_activity_show_image" >
        </activity>
    </application>

</manifest> <!-- AIzaSyDrOvqwvxVuihwSIW_6j9parbHw_gTvRk8 -->
